/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	// margin: 0;
	font-size: 24px;
	line-height: 1.7;
}

.container {
	display: flex;
	max-width: 1140px;
	margin: auto;
    padding: 0 20px;
}

#messages {
	flex-direction: row;
	padding: 15%;
	font-variant: small-caps;
	font-weight: bold;
}