/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 18px;
	line-height: 1.7;
}

.container {
	display: flex;
	max-width: 1140px;
	margin: auto;
    padding: 0 20px;
}

#messages {
	flex-direction: row;
	padding: 10%;
	font-variant: small-caps;
	text-decoration: goldenrod double underline;
}